<div class="container">
  <div class="container-order-btn mt-5">
  <div>
    <h1>Pedido <%= @order.id %></h1>
      <% food=Food.find(@order.food_id) %>
      <% seller=User.find(food.user_id) %>
        <h3> Total: <%= number_to_currency( Food.find(@order.food_id).price, unit: "R$ ", separator: ",") %> </h3>
        <p><strong> Descrição do Produto: <%= food.description %></strong></p>
         <p> Vendedor: <%= seller.name %></p>
         <%= link_to "Ver mais produtos de:#{seller.name}", root_path, class: "" %>
         <div>
          <%= link_to "Fazer outro pedido", root_path, class: "btn btn-gradient my-3" %>
      </div>
          <%= link_to order_path(@order), class: "navbar-brand", data: { turbo_method: :delete, turbo_confirm: "Você tem certeza que quer deletar o pedido produto?" } do %>
            <i class="fa-solid fa-trash" style="color: #d23333;"></i>
          <% end %>
  </div>
  <div class="container-order-img">
      <% if  food.photo.attached?%>
        <%= cl_image_tag food.photo.key%>
      <% else %>
        <%= image_tag (img)%>
      <% end %>
    </div>
  </div>
  <hr>
</div>
