<% food=Food.find(@order.food_id) %>
<% seller=User.find(food.user_id) %>
 <% img = 'https://climate.onep.go.th/wp-content/uploads/2020/01/default-image.jpg' %>
<div class="container my-5">
  <div class="card-product">
        <% if  food.photo.attached?%>
          <%= cl_image_tag food.photo.key%>
        <% else %>
          <%= image_tag (img)%>
        <% end %>
    <div class="card-product-infos">
      <div class='card-product-details'>
        <h2><%= food.name %></h2>
        <p><%= number_to_currency( Food.find(@order.food_id).price, unit: "R$ ", separator: ",") %> </p>
        <p> <strong><%= food.description %></strong> </p>
        <p>Status do pedido</p>
        <% if @order.status_pedido== 'Cancelado' %>
        <div class='status-cancelado'><p ><i class="fa-solid fa-circle fa-2xs"></i> <%=@order.status_pedido %></p> </div>
        <% end %>
        <% if @order.status_pedido== 'Em processamento' %>
        <div class='status-processamento'><p ><i class="fa-solid fa-circle fa-2xs"></i> <%= @order.status_pedido %></p> </div>
        <% end %>
        <% if @order.status_pedido== 'Finalizado' %>
        <div class='status-finalizado'><p ><i class="fa-solid fa-circle fa-2xs"></i> <%=@order.status_pedido %></p> </div>
        <% end %>

        <% if @order.status_pedido == 'Em processamento' && @order.user == current_user %>
          <%= link_to "Cancelar pedido",order_path(@order, update: 'cancelar') ,data: { turbo_method: :patch, turbo_confirm: "Você tem certeza que quer cancelar o pedido?"}, class: "seller-index-link" %>
          <%= link_to "Confirmar recebimento do pedido",order_path(@order, update: 'confirmar'),data: { turbo_method: :patch, turbo_confirm: "Você tem certeza que quer confirmar o recemibento do produto?"}, class: "seller-index-link" %>
        <% end %>

      </div>
      <% if @order.user == current_user %>
      <div class='card-seller-details'>
        <p class='mb-3'> Vendedor: <strong><%= seller.name %></strong> </p>
        <%= link_to "Ver mais produtos de #{seller.name}", foods_path(user_id:"#{seller.id}"), class: "seller-index-link" %>
      </div>
      <% end %>
    </div>
  </div>
  <div class='container-order-buttons'>
   <% if seller != current_user %>
      <%= link_to "Fazer outra compra", foods_path, class: "btn btn-gradient my-3" %>
   <% end %>
  </div>
</div>
