<%= simple_form_for(food) do |f| %>
  <%= f.input :name  %>
  <%= f.input :category, :collection => %w[salgados doces bebidas] %>
  <%= f.input :price %>
  <%= f.input :description %>
  <%= f.input :image_url %>
  <div class='form-submit mt-5'>
    <%= f.submit :class => 'btn btn-gradient'%>
  </div>
<% end %>
