 <% img = 'https://climate.onep.go.th/wp-content/uploads/2020/01/default-image.jpg' %>
<h1 class='mt-3 mb-3'><%= @category.capitalize if @category %>
     <%= 'Comidas Brasileias' unless @category %></h1>
<div class="cards">

<% @foods.each do |food| %>

<div class="card-trip mb-5 ">
  <%= image_tag (food.image_url||img), alt: food.name%>
  <div class="card-trip-infos">
    <div>
      <h2><%= food.name %></h2>
      <p> <%= food.description %> </p>
      <%= link_to 'Detalhes', food_path(food.id), class:'btn btn-gradient' %>


    </div>
    <img src="https://kitt.lewagon.com/placeholder/users/krokrob" class="card-trip-user avatar-bordered" />
    <h2 class="card-trip-pricing"><%= number_to_currency(food.price, unit: "R$ ", separator: ",") %></h2>
  </div>
</div>

<% end %>

</div>
