 <% img = 'https://climate.onep.go.th/wp-content/uploads/2020/01/default-image.jpg' %>

<h1 class='mt-3 mb-3'>Detalhes do Produto</h1>
<div class="card-trip">
  <%= image_tag (@food.image_url||img), alt: @food.name%>
  <div class="card-trip-infos">
    <div>
      <h2><%= @food.name %></h2>
      <p> <%= @food.description %> </p>
      <%= link_to edit_food_path(@food), class: "navbar-brand" do %>
        <i class="fa-solid fa-pen-to-square" style="color: #d23333;"></i>
      <% end %>
      <%= link_to food_path(@food), class: "navbar-brand", data: { turbo_method: :delete, turbo_confirm: "Você tem certeza que quer deletar o produto?" } do %>
        <i class="fa-solid fa-trash" style="color: #d23333;"></i>
      <% end %>
    </div>
    <img src="https://kitt.lewagon.com/placeholder/users/krokrob" class="card-trip-user avatar-bordered" />
    <h2 class="card-trip-pricing"><%= number_to_currency(@food.price, unit: "R$ ", separator: ",") %></h2>
  </div>
</div>
<% if  url_for(:back).split('/')[-1] == 'edit'%>
  <%= link_to "Voltar", foods_path, class:'btn btn-gradient my-3' %>
<% else %>
 <%= link_to "Voltar", url_for(:back), class:'btn btn-gradient my-3' %>
<% end %>
